table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  

  //table css
  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
    
  }
  
  .table-container{
    overflow-x: scroll;
  }
  

  .example-button-container{
    margin: 2px;
  }
  
  td {
    padding-right: 8px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .tableData{
    background-color: rgb(175, 241, 243);
  }
  tablecontainer{
  margin-bottom:20px;
  
  }
