/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding:0px;
}
html, body {
     height: 100%; 
    width: 100%;

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/* Importing Bootstrap SCSS file. */
 @import 'bootstrap/scss/bootstrap';
 @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
 @import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

 .table-data-heading{
    text-align: center  ;
    margin-bottom: 10px;
    background-color: rgb(140, 218, 249);
    color: rgb(12, 13, 13);
 }

 .policy-product .owl-next,
.policy-product .owl-prev {
  background: rgb(190, 190, 187) !important;
  color: #222 !important;
  height: 1.5em !important;
  width: 1.5em !important;
  border-radius: 50% !important;
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
  font-size: 24px;
  display: flex !important;
  justify-content: center !important   ;
  align-items: center !important;
  cursor: pointer;
  transition: 0.3s all ease;
}

.policy-product .owl-prev {
  left: -2.5%!important;
 
}

.policy-product .owl-next {
  right: -2.5%!important;
 
}



.policy-product .owl-next:hover{
  background: #86B3D1 !important;
}

.policy-product .owl-prev:hover{
  background: #86B3D1 !important;
}

.owl-theme .owl-nav [class*=owl-] {
  font-size:24px;

}



 

