<!-- <div id="carouselExampleDark" class="carousel container carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="row">
        <div class="col-md-3">
          <img src="https://images.unsplash.com/photo-1562774053-701939374585?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=886&q=80" class="d-block w-100" alt="...">
        </div>
        <div class="col-md-3">
          <img src="../../../../../assets/images/photo-1523050854058-8df90110c9f1.avif" class="d-block w-100" alt="...">
        </div>
        <div class="col-md-3">
          <img src="../../../../../assets/images/slide2.avif" class="d-block w-100" alt="...">
        </div>
        <div class="col-md-3">
          <img src="../../../../../assets/images/slide2.avif" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="row">
        <div class="col-md-3">
          <img src="../../../../../assets/images/photo-1523050854058-8df90110c9f1.avif" class="d-block w-100" alt="...">
        </div>
        <div class="col-md-3">
          <img src="../../../../../assets/images/photo-1523050854058-8df90110c9f1.avif" class="d-block w-100" alt="...">
        </div>
        <div class="col-md-3">
          <img src="../../../../../assets/images/slide2.avif" class="d-block w-100" alt="...">
        </div>
        <div class="col-md-3">
          <img src="https://images.unsplash.com/photo-1562774053-701939374585?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=886&q=80" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<marquee class="markii"  style="animation: marquee-slide 5s linear infinite; " scrollamount="10"  behavior="scroll"
  width="100%"
  direction="left"
 
 
 
>
  <div class="row">
    <div class="col-2 markicontent">
      <img 
      src="assets/images/recruiter1.avif" 
      class="d-block w-100" 
      alt="company1" />
    </div>
    <div class="col-2 markicontent">
      <img
        src="assets/images/godrej-agrovet.jpg"
        class="d-block w-100"
        alt="company2"
      />
    </div>
    <div class="col-2 markicontent">
      <img
       
        src="assets/images/company.jpg"
        class="d-block w-100"
        alt="company3"
      />
    </div>
    <div class="col-2 markicontent">
      <img
        src="assets/images/recruiter3.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="col-2 markicontent">
      <img
        src="assets/images/recruiter1.avif"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="col-2 markicontent">
      <img
        src="assets/images/recruiter2.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</marquee>
