<owl-carousel-o [options]="MainCarouselOptions" >
    <ng-template carouselSlide >
        <div class="picsum-img-wrapper">
            <img class="slider-image" src="../../../../../assets/images/placement.avif" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h1> Welcome !</h1>
            <h2>  To IGKV Placement Cell</h2> 
        </div>
    </ng-template>
    <ng-template carouselSlide >
        <div class="picsum-img-wrapper">
            <img class="slider-image" src="../../../../../assets/images/homeslide1.avif" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
          
        </div>
    </ng-template>
    <ng-template carouselSlide >
        <div class="picsum-img-wrapper">
            <img class="slider-image" src="../../../../../assets/images/homeslide2.avif" alt="Random slide"/>
        </div>
        <div class="carousel-caption">
           
        </div>
    </ng-template>
  
    <ng-template carouselSlide >
        <div class="picsum-img-wrapper">
            <img class="slider-image" src="../../../../../assets/images/homeslide3.avif" alt="Random slide" />
        </div>
        <div class="carousel-caption">
  
        </div>
    </ng-template>
  
    <ng-template carouselSlide >
      <div class="picsum-img-wrapper">
          <img class="slider-image" src="../../../../../assets/images/trnplacecell.jpg" alt="Random  slide" />
      </div>
      <div class="carousel-caption">
         
      </div>
  </ng-template>
  </owl-carousel-o>
  