<!-- academic details form -->

<!-- form start from here -->
<div class="container">

    <h3>Add Academic details</h3>


    <!-- graduation details -->

    <fieldset class="scheduler-border">
        <legend class="scheduler-border"> Educational Details</legend>


        <div class="add-lessons-form" [formGroup]="form">
            <ng-container formArrayName="academics">
                <ng-container *ngFor="let lessonForm of academics.controls; let i = index">
                    <div class="lesson-form-row" [formGroupName]="i">


                        <!-- first row -->

                        <div class="row">

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Program Type</mat-label>
                                    <mat-select formControlName="Degree_Programme_Type_Id"
                                        (selectionChange)="onChangeDegree($event)">
                                        <mat-option *ngFor="let val of degree_type"
                                            [value]="val.Degree_Programme_Type_Id">
                                            {{val.Degree_Name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                            <div class="col-md-6">


                                <div>

                                    <mat-form-field appearance="outline" [style.width.%]="100">
                                        <mat-label>Degree Program</mat-label>
                                        <mat-select formControlName="Degree_Programme_Id">

                                            <mat-option *ngFor="let val of programs" [value]="val.Program_Id">
                                                {{val.Degree_Program_Name}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>

                                </div>
                            </div>
                        </div>
                        <!-- second row -->
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Enroll No.</mat-label>
                                    <input matInput formControlName="Student_Enroll_Id">

                                </mat-form-field>


                            </div>

                            <div class="col-md-6">


                                <div>
                                    <mat-form-field appearance="outline" [style.width.%]="100">
                                        <mat-label>Institue Name.</mat-label>
                                        <input matInput formControlName="College_Name">

                                    </mat-form-field>

                                    <!-- <mat-select formControlName="College_Id" id="dropdown">

                                                    <mat-option *ngFor="let val of colleges"
                                                        [value]="val.College_Id">
                                                        {{val.Name}}
                                                    </mat-option>
                                                </mat-select> -->

                                    <!-- <mat-hint (click)="toggleModeCollege()" align="end"
                                                    [class.cursor-pointer]="true">insert into Input
                                                    box</mat-hint> -->


                                </div>

                            </div>

                        </div>


                        <!-- third row -->
                        <div class="row" style="margin-top:4px">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Major Subject</mat-label>
                                    <mat-select formControlName="Subject_Id" id="dropdown">
                                                    <mat-option *ngFor="let val of subjects"
                                                        [value]="val.Subject_Id">
                                                        {{val.Subject_Name_E}}
                                                    </mat-option>
                                                </mat-select> 
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>% of marks / OGPA</mat-label>
                                    <input matInput formControlName="OGPA">

                                </mat-form-field>
                            </div>
                        </div>

                        <!-- fourth row -->

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Admission Year</mat-label>
                                    <mat-select formControlName="Admission_Year_Id">
                                        <mat-option *ngFor="let val of admissionsession"
                                            [value]="val.Admission_Session_id">
                                            {{val.Admission_Session_Name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Passing Out year</mat-label>
                                    <mat-select formControlName="PassingOut_Year_Id">
                                        <mat-option *ngFor="let val of admissionsession"
                                            [value]="val.Admission_Session_id">
                                            {{val.Admission_Session_Name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6" style="margin-top: 5px; margin-bottom: 5px;">
                                <div>Upload your Marksheet</div>


                                <input type="file" (change)="selectmarksheet($event)" formControlName="Marksheet_Url"
                                    >
                            </div>
                            <div class="col-md-6" style="margin-top: 20px;">
                                <div></div>
                                <button mat-raised-button color="primary" type="button"
                                    (click)="uploadMarksheet()">Upload</button>
                            </div>
                        </div>
                        <!-- fourth row buttons -->
                        <div class="row">
                            <div class="row" style="margin-bottom: 20px;">
                                <div class="col" style="display:flex;justify-content: center;">
                                    <button mat-mini-fab color="warn" class="delete-btn" (click)="deleteAcademic(i)"
                                        matTooltip="Delete Academics ">


                                        <mat-icon>delete</mat-icon>
                                    </button>


                                </div>
                                <div class="col" style="display:flex;justify-content: center;">
                                    <button mat-mini-fab (click)="addAcademics()"
                                        matTooltip="Add Another Academic Detail">

                                        <mat-icon class="add-course-btn">add</mat-icon>
                                    </button>


                                </div>



                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <div class="row" style="margin-top: 30px; margin-bottom: 40px;">
                <div class="col">
                    <button mat-raised-button type="submit" color="primary" [style.width.%]="100"
                        (click)="onSubmitacademic()">Submit</button>

                </div>
                <div class="col">
                    <button mat-button mat-raised-button color="warn" [style.width.%]="100"
                        style="margin-left: 10px;">Cancle</button>

                </div>
            </div>
        </div>


    </fieldset>


</div>


<!-- </form> -->