
<div class="container-fluid notification-container">
    <div class="row ">
        <div class="col">
            <div class="notice-board">
                <div class="notice-header">
                    <h2>Current Recruiters</h2>
                </div>
                <div class="notice-header">
                    <div class="row">
                        <div class="col-md-3">ID</div>
                        <div class="col-md-3">Date</div>
                        <div class="col-md-3">Title</div>
                        <div class="col-md-3">Remark</div>
                    </div>
                    
                </div>
                <marquee behavior="" direction="up">
                <div class="row text-center">
                    <div class="col-md-3">AD-100</div>
                    <div class="col-md-3">20/04/2023</div>
                    <div class="col-md-3">JRF</div>
                    <div class="col-md-3">Active</div>
                </div><hr>

                <div class="row text-center">
                    <div class="col-md-3">MNC</div>
                    <div class="col-md-3">21/03/2023</div>
                    <div class="col-md-3">Guest lecturar</div>
                    <div class="col-md-3">Inactive</div>
                </div><hr>

                <div class="row text-center">
                    <div class="col-md-3">MNC</div>
                    <div class="col-md-3">21/03/2023</div>
                    <div class="col-md-3">Guest lecturar</div>
                    <div class="col-md-3">Inactive</div>
                </div><hr>

                <div class="row text-center">
                    <div class="col-md-3">MNC</div>
                    <div class="col-md-3">21/03/2023</div>
                    <div class="col-md-3">Guest lecturar</div>
                    <div class="col-md-3">Inactive</div>
                </div><hr>

                <div class="row text-center">
                    <div class="col-md-3">MNC</div>
                    <div class="col-md-3">21/03/2023</div>
                    <div class="col-md-3">Guest lecturar</div>
                    <div class="col-md-3">Inactive</div>
                </div><hr>
            </marquee>
            </div>
        </div>

       
    </div>
</div>
