.notice-board{
    margin: 10px;
    height: 70%;
    overflow: auto;
    display: block;
    justify-content: center;
    background-color: rgb(95, 129, 244);
    border-radius: 20px 20px 20px 20px;
    overflow-x: hidden;
    
    

  }

  //notice header
  .notice-header{
    text-align: center;
    background-color:black;
    color: white;
   
    
  }
  //cards css
  .profile-photo {
    height: 150px;
    width: 150px;
    background-color: pink;
    margin: auto;
}

.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    background-image: linear-gradient(pink,yellow);
}