
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  .register-heading{
    border-radius: 10px;
    text-align: center;
    background-color: rgb(38, 100, 214);

  }

  form{
    margin-bottom: 50px;
  }

  .heading{
    background-color: rgb(113, 80, 231);
    text-align: center;
    border-radius: 4px;
  }



  .main-heading{
text-align: center;
background-color: cornflowerblue;
margin-top: 5px;
  }
  // .body{
  //   background-color: khaki;
  // }