// .custom-dialog {
//     width: 400px; /* Adjust the width as per your requirement */
//     height: 200px; /* Adjust the height as per your requirement */
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     margin-top: 30px; /* Adjust the margin-top value as per your requirement */
//   }

table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  th, td {
    border: 1px solid black;
    padding-left: 8px;
  }