.notification-container{
    display: flexbox;
    justify-content: center;
    padding: auto;
    margin: auto;
    margin-top: 20px;
    width: 70%;
  }
  
.notice-board{
    margin: 10px;
    min-height: 70vh;
   max-height: 70vh;
    height: 20%;
    overflow: auto;
    display: block;
    justify-content: center;
    background-color: rgb(142, 221, 245);
    //border-radius: 20px 20px 20px 20px;
    overflow-x: hidden;
    

  }

  //notice header
  .notice-header{
    text-align: center;
    background-color:black;
    color: white;
   
    
  }
  .cursor-pointer {
    cursor: pointer;
  }

