.body{
  background-color: rgb(181, 226, 240);
   padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000;
  background-color: rgb(181, 226, 240);
  margin: auto;
}
.text-left p {
    text-align: left;
}

table {
    width: 100%;
    height: 75vh;
    border: 2px solid black;
    text-align: center;

    td{
      border: 2px solid black;
    }
    
  }
  


  .name tr{
    margin-bottom: 50px;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .container-fluid{
    overflow-x: hidden;
  }
  mat-card-content{
    margin-top: 30px;
  }
  .detail-heading{
text-align: left;
font-size: medium;
font-weight: 400;
  }

  .items{
    border:2px solid black;
    margin-bottom :4px ;
  }