<div class="row body">
  <div class="col-lg-1"></div>
<div class="col-lg-10" style="margin-top: 30px;">
  <div class="card shadow-sm">
    <div class="card-header bg-transparent border-0" style="display: flex; justify-content:space-between">
     <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Personal Detail</h3>
     <div class="example-button-container">
      <!-- <button mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon" (click)="openDialog()">
        <mat-icon >edit</mat-icon>
      </button> -->
    </div>
    
    </div>
    <div class="card-body pt-0">
      <table class="table table-bordered name">
        <tr>
          <th width="40%">Student Full Name</th>
          <td width="2%">:</td>
          <td>{{personal_detail.Student_First_Name_E}} &nbsp;{{personal_detail.Student_Middle_Name_E}} &nbsp; {{personal_detail.Student_Last_Name_E}}</td>
          <!-- <td>{{academic_detail.Registration_No}}</td> -->
        </tr>
        <tr>
          <th width="40%">Father Name</th>
          <td width="2%">:</td>
          <td>{{personal_detail.Father_Name_E}}</td>
        </tr>
        <tr>
          <th width="40%">Mother Name</th>
          <td width="2%">:</td>
          <td>{{personal_detail.Mother_Name_E}}</td>
        </tr>

        <tr>
          <th width="40%">DoB</th>
          <td width="2%">:</td>
          <td>{{personal_detail.DOB | date}}</td>
        </tr>

        <tr>
          <th width="30%">Gender</th>
          <td width="2%">:</td>
          <td>{{personal_detail.Gender_Id }}</td>
        </tr>
        <tr>
          <th width="30%">Mobile</th>
          <td width="2%">:</td>
          <td>{{personal_detail.Mobile_No}}</td>
        </tr>
        <tr>
          <th width="30%">Email</th>
          <td width="2%">:</td>
          <td>{{personal_detail.Email_Id }}</td>
        </tr>

        <tr>
          <th width="40%">Degree Completed</th>
          <td width="2%">:</td>
          <td>{{personal_detail.Degree_Completed_YN}}
          </td>
        </tr>
        <!-- <tr>
          <th width="30%">PassingOut Year</th>
          <td width="2%">:</td>
          <td>{{personal_detail.PassingOut_Year_Name }}</td>
        </tr> -->

        <tr>
          <th width="40%">Degree Completd Session</th>
          <td width="2%">:</td>
          <td>{{personal_detail.PassingOut_Year_Name}}</td>
        </tr>
        <tr>
          <th width="30%">Curret Address:</th>
          <td width="2%">:</td>
          <td>{{personal_detail.Current_Address1}}</td>
        </tr>

        <tr>
          <th width="30%">Permanent Address:</th>
          <td width="2%">:</td>
          <td>{{personal_detail.Permanent_Address1}}</td>
        </tr>

        <tr>
          <th width="30%">Photo</th>
          <td width="2%">:</td>
          <!-- <td><a [href]="student_photo_url" target="_blank">Photo</a></td> -->
          <td><img [src]="this.photo_path" alt="user" style="height: 150px; width: 100px;"></td>

        </tr>

        <tr>
          <th width="30%">Signature</th>
          <td width="2%">:</td>
          <td><img [src]="this.signature_path" alt="user" style="height: 50px; width: 100px;"></td>
        </tr>
<!-- resume -->
        <tr>
          <th width="30%">Resume</th>
          <td width="2%">:</td>
          <td><a href={{personal_detail.Student_resume_Path}} target="_blank">View Resume</a></td>
        </tr>

      </table>
    </div>
  </div>
    <div style="height: 26px"></div>
  
</div>
<div class="col-lg-1"></div>
</div>