// html, body {
//   max-width: 100%;
//   overflow-x: hidden;
//   // border: 2px solid red;
  
// }
// #footer {
//   position: relative;
//   bottom: 0;
//   width: 100%;
//   height: 40px;   /* Height of the footer */
//   background: #6cf;
// }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
 // background-color: aqua;
}

