.background{
    background-color:rgb(241, 212, 217);
    //border: 2px solid black;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
 }
 .container{
 margin-bottom: 20px;    
 background-color: transparent;
 
 }
 
 .heading{
     background-image: linear-gradient(rgb(69, 93, 228),rgb(220, 226, 225));
     text-align: center;
     margin-top: 10px;
     padding-bottom: 10px;
     box-shadow: 5px 5px lightblue;
   }
   
   .fileupload{
    margin-top: 10px;
   }