<section class="policy-product">
    <div class="hero">
      <owl-carousel-o [options]="customOptions" class="policy-p-card-margin">
        
       
        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="policy-content">
              <div class="policy-img">
                <img src="../../../../../assets/images/images (8).jpeg" alt="please">
              </div>
              <div class="policy-text">
                <h2>Tushil Kumar Rawte</h2>
                <span>(Senior Editor)</span> 
                
                <p>"We are strong advocates for open access principles, firmly believing that knowledge should be freely available to all."</p>
                <!-- <a href="#" class="read-more">read more <i class="fa-light fa-chevrons-right"></i>></a> -->
              </div>
            </div>
          </div>
        </ng-template>
      
        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="policy-content">
              <div class="policy-img">
                <img src="../../../../../assets/images/emp2.jpg" alt="please">
              </div>
              <div class="policy-text">
                <h2>Saurbh Bhoi</h2>
                <span>(Technical Officer)</span>
                <p>"Navigating our repository is a breeze. With a user-friendly interface and intuitive search options, users can quickly access the information they seek, from documents."</p>
                <!-- <a href="#" class="read-more">read more <i class="fa-light fa-chevrons-right"></i>></a> -->
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="policy-content">
              <div class="policy-img">
                <img src="../../../../../assets/images/emp3.jpg" alt="please">
              </div>
              <div class="policy-text">
                <h2>Khushboo Chakraborty</h2>
                <span>(Manager in Kamdhenu Dairy)</span>
                <p>"Experience the power of multimedia with our vast collection of audio recordings, videos, interactive materials, and visual exhibits."</p>
                <!-- <a href="#" class="read-more">read more <i class="fa-light fa-chevrons-right"></i>></a> -->
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="policy-content">
              <div class="policy-img">
                <img src="../../../../../assets/images/images (5).jpeg" alt="please">
              </div>
              <div class="policy-text">
                <h2>Deepak Mishra </h2>
                <span>(Director FloraAgroTech )</span>                <p>"Our repository acts as a digital guardian, preserving cultural heritage, historical documents, and significant artifacts for generations to come."</p>
                <!-- <a href="#" class="read-more">read more <i class="fa-light fa-chevrons-right"></i>></a> -->
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="policy-content">
              <div class="policy-img">
                <img src="../../../../../assets/images/images (7).jpeg" alt="please">
              </div>
              <div class="policy-text">
                <h2>Daulat Sahu</h2>
                <span>(Manager)</span>                <p>"We are more than just a repository; we are a community of knowledge seekers and contributors."</p>
                <!-- <a href="#" class="read-more">read more <i class="fa-light fa-chevrons-right"></i>></a> -->
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="policy-content">
              <div class="policy-img">
                <img src="../../../../../assets/images/images (5).jpg" alt="please">
              </div>
              <div class="policy-text">
                <h2>Doman Kumar Chakradhari</h2>
                <span>(Krishi Vistarak Adhikari)</span>                <p>"We are more than just a repository; we are a community of knowledge seekers and contributors."</p>
                <!-- <a href="#" class="read-more">read more <i class="fa-light fa-chevrons-right"></i>></a> -->
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </section>
  