.containers {
    width: 90%;
    margin: 0 auto;
  }
  
  .hero {
    width: 90%;
    height: 400px;
    margin: 0 auto;
  }

 
  
  .policy {
    // background-image: url(../../../assets/nic.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    padding: 60px 0;
    margin: 0px;
  }
  
  .round {
    padding: 23px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 34px;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
    margin: 0 auto;
    position: relative;
  }
  
  .round-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
  }
  
  .policy-card h2 {
    transition: all 0.3s ease;
    font-weight: 200;
    // font-size: 16px;
    color: white;
    text-transform: uppercase;
    margin: 12px 0 5px;
  }
  
  .policy-card p {
    color: #dbdbdb;
    font-style: italic;
  }
  
  .policy-product {
    padding: 60px 0;
    // background: #eee;
    position: relative;
    // background-color: #ff4000;
   // height: 12em;
  
  }
  
  .policy-p-card-margin {
    position: relative;
  //  top: -60%;

  }
  
  .policy-p-card {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 20px;
    position: relative;
    height: 22em;
    margin: 2%;
    background-color:rgb(119, 186, 218) ;  
  
  }
  
  .policy-content {
   
    display: flex;
    flex-direction: column;
  }
  

  

  .policy-img img {
    height: 9em;
    transition: all 0.3s ease;
  }
  
  .policy-img img:hover {
    transform: scale(1.1);
  }
  
  .policy-text h2 {
    text-transform: capitalize;
    line-height: 24px;
    font-size: 18px;
    padding-top: 10%;
    font-weight: 500;
    margin-bottom: 0;
    cursor: pointer;
    color: rgb(241, 242, 242);
    transition: all 0.3s ease;
   
  }
  
  .policy-text span{
    color: white;
  }
  .policy-text p {
    color: rgb(15, 14, 14);
    line-height: 21px;
    font-size: 14px;
    transition: all 0.3s ease;
    font-weight: 300;
    margin-top: 0.2em;
  }
  
  .read-more {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 0;
    background: black;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-top: 10px;
  }
  
  .read-more:hover {
    background-color: #ff4000;
    color: #fff;
  }
  
  .read-more mat-icon {
    margin-left: 6px;
  }
  

  
  .about-us {
    margin-top: 3%;
    width: 100%;
    background: #fff;
    padding: 20px;
  }

  .about-us h2{
    font-family: 'Lato', sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-transform: capitalize;
    margin: auto;
    width: max-content;
  }

  .about-us h2::after{
    content: '';
    border-radius: 2px;
     border-bottom: 4px solid yellow;
     margin: 0.2em;
     display: block;
     margin-bottom: 1em;
    

  }

  .about-us p{
    font-family: 'Roboto', 'sans-serif';
    font-size: medium;
   
  }

 

  .pic img{
    // height: 25em;
    // width: 100%;
    max-width: 100%;
    height: 100%;
  }
  
  .about {
    display: flex;
  }
  
  .text {
    width: 100%;
    max-width: 540px;
    margin-top: 20px;
  }
  
  .text h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .text h5 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  span {
    color: #4070f4;
  }
  
  .text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: justify;
  }
  
  
  .data {
    margin-top: 30px;
  }
  
  .hire {
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
  }
  
  .hire:hover {
    background: #000;
    border: 1px solid #4070f4;
  }
  
  @media (max-width: 768px) {
    .about {
      flex-direction: column;
    }
  
    .text {
      margin-top: 40px;
    }
  
    .text h2 {
      font-size: 36px;
    }
  }
  
  .bodys{
    min-height: 100vh;
    width: 90%;
    // background: #EEECEB;
  }
  
  .footerigkvigkv {
    position: fixed;
    background: #140B5C;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .footerigkvigkv::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  
  .footerigkvigkv .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  
  .footerigkvigkv .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .footerigkvigkv .content .top .logo-details {
    color: #fff;
    font-size: 30px;
  }
  
  .footerigkvigkv .content .top .media-icons {
    display: flex;
  }
  
  .footerigkvigkv .content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  
  .footerigkvigkv .content .top .media-icons a:nth-child(1) {
    background: #4267B2;
  }
  
  .footerigkvigkv .content .top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
  }
  
  .footerigkvigkv .content .top .media-icons a:nth-child(2) {
    background: #1DA1F2;
  }
  
  .footerigkvigkv .content .top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
  }
  
  .footerigkvigkv .content .top .media-icons a:nth-child(3) {
    background: #E1306C;
  }
  
  .footerigkvigkv .content .top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
  }
  
  .footerigkvigkv .content .top .media-icons a:nth-child(4) {
    background: #0077B5;
  }
  
  .footerigkvigkv .content .top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
  }
  
  .footerigkvigkv .content .top .media-icons a:nth-child(5) {
    background: #FF0000;
  }
  
  .footerigkvigkv .content .top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
  }
  
  .footerigkvigkv .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footerigkvigkv .content .link-boxes .box {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  
  .footerigkvigkv .content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  
  .footerigkvigkv .content .link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  
  .footerigkvigkv .content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
  }
  
  .footerigkv .content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
  }
  
  .footerigkv .content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  
  .footerigkv .content .link-boxes .input-box {
    width: 100%;
    margin-right: 0;
  }
  
  .footerigkv .content .link-boxes .input-box input {
    height: 40px;
    width: 100%;
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  
  .footerigkv .content .link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
  }
  
  .footerigkv .content .link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .footerigkv .content .link-boxes .input-box input[type="button"]:hover {
    opacity: 1;
  }
  
  .footerigkv .bottom-details {
    width: 100%;
    background: #0F0844;
  }
  
  .footerigkv .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  
  .footerigkv .bottom-details .bottom_text span,
  .footerigkv .bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  
  .footerigkv .bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  
  .footerigkv .bottom-details .bottom_text a {
    margin-right: 10px;
  }
  
  /* Media Queries for Responsive Design */
  
//   @media (max-width: 768px) {
//      .footerigkv .content .link-boxes .box {
//        width: 100%;
//      }
//   }
