:host {
	display: flex;
	justify-content: center;
	// margin: 10px 0px;
  }
  
  .container{
	display: flex;
	justify-content: center;
	//background: linear-gradient(blue,green);
  }

  .container-fluid{

	// background-image: url('/client/src/assets/images/loginback.avif');
	//background-image:linear-gradient(rgb(128, 128, 223),rgb(93, 214, 93));
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 100vh; 
	// background-image: url('../../../../../assets/images/loginback.avif');

	// /* Define the background size behavior (optional) */
	// background-size: cover; /* Adjust the image size to cover the container */
	// background-repeat: no-repeat; /* Prevent the image from repeating */
	// background-position: center center;
  }
 
  .mainheading{
	text-align: center;
	background-color: blue;
	color:wheat;
	border-radius: 10px	;
	margin-bottom:20px ;
  }
  .signup{
	width: 40vw;
	height: auto;
	margin-top: 10px;
	
  }
  .login{
	display: flex;
	justify-content: end;
	margin-bottom: 10px;
  }
  mat-card {
	max-width: 600px;
  
	mat-card-title,
	mat-card-content {
	  display: flex;
	  justify-content: center;
  
	  form {
		
		.mat-form-field {
		  width: 100%;
		  min-width: 100px;
		}
  
		.error {
		  padding: 16px;
		  width: 300px;
		  color: white;
		  background-color: red;
		}
  
		.button {
		  display: flex;
		  justify-content: flex-end;
		}
	  }
	}
  }
  .container-fluid{
	// background-image:linear-gradient(rgb(128, 128, 223),rgb(93, 214, 93))
	background-image: url('../../../../../assets/images/loginback.avif');

	/* Define the background size behavior (optional) */
	background-size: cover; /* Adjust the image size to cover the container */
	background-repeat: no-repeat; /* Prevent the image from repeating */
	background-position: center center;
  }
  
  .login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	//padding: 10px 10px;
	color:black;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
	  0 1px 1px rgba(128, 128, 128, 0.155),
	  0 2.1px 2.1px rgba(128, 128, 128, 0.195),
	  0 4.4px 4.4px rgba(128, 128, 128, 0.241),
	  0 12px 12px rgba(128, 128, 128, 0.35);
  
	h1 {
	  margin: 0 0 25px 0;
	}
  
	.form-input-material {
	  margin: 12px 0;
	}
  
	.btn {
	  width: 30%;
	  margin: 18px 0 9px 0;
	  border-radius: 10px;
	}
  }