
<div class="row">
    <div class="col-md-4" style="align-content: center; align-items: center;">
        <div id="imageContainer" style="height:300px; align-content: center; margin-left: 20px;">
            <img [src]="currentImage" alt="Autoplay Image" [style.height]="imageHeight" [style.width]="imageWidth">
           <div class="decortext" style="background-color: aliceblue;"><p style="text-align: center; color: rgb(0, 153, 255);">{{ currentText }}</p></div> 
          </div>
    </div>
    <div class="col-md-4">
        <div id="imageContainer" style="height:300px; margin-left: 15px;">
            <img [src]="currentImage" alt="Autoplay Image" [style.height]="imageHeight" [style.width]="imageWidth">
            <div class="decortext" style="background-color: aliceblue;"><p style="text-align: center;color: rgb(0, 153, 255);">{{ currentText }}</p></div> 
          </div>
    </div>
    <div class="col-md-4">
        <div id="imageContainer" style="height:300px; margin-left: 15px;">
            <img [src]="currentImage" alt="Autoplay Image" [style.height]="imageHeight" [style.width]="imageWidth">
            <div class="decortext" style="background-color: aliceblue;"><p style="text-align:center; color: rgb(0, 153, 255);" >{{ currentText }}</p></div> 
          </div>
    </div>
</div>

 
  