<!-- <form [formGroup]="ExperienceFormGroup"> -->
<div class="row">
    <div class="col-md-12" style="display: flex;">
        <div class="heading">
            <h3 style="margin-top: 20px;"> Students Experience Details</h3>
        </div>
        <span style="margin-top: 15px; margin-left: 20px;">
            <!-- <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
                            <mat-icon>plus_one</mat-icon>
                        </button> -->
            <!-- <button mat-mini-fab (click)="addAcademics()" matTooltip="Add Experience and scroll down">

                        <mat-icon class="add-course-btn">add</mat-icon>
                    </button> -->
        </span>

        <hr>
    </div>
</div>
<div class="containe">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border"> Experience Details</legend>

        <div class="add-lessons-form" [formGroup]="form">
            <ng-container formArrayName="experience">
                <ng-container *ngFor="let lessonForm of experience.controls; let i = index">
                    <div class="lesson-form-row" [formGroupName]="i">


                        <!-- second row -->

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Organization Name</mat-label>
                                    <input matInput formControlName="Organization_Name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Post Name</mat-label>
                                    <input matInput formControlName="Post_Name">

                                </mat-form-field>
                            </div>
                        </div>

                        <!-- third row -->
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="WorkPlace_Country_Id">
                                        <mat-option value="India">India</mat-option>
                                        <mat-option value="Us">US</mat-option>
                                        <mat-option value="China">China</mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                     <!-- <mat-label>State</mat-label>
                                    <mat-select formControlName="WorkPlace_State_Id">
                                        <mat-option value="cg">CG</mat-option>
                                        <mat-option value="mp">MP</mat-option>
                                        <mat-option value="mh">MH</mat-option>

                                   </mat-select> -->
                                
                                   <mat-label>WorkPlace State</mat-label>
                                <mat-select formControlName="WorkPlace_State_Id" (selectionChange)="onChangeState($event)">
                               

                                    <mat-option *ngFor="let val of states" [value]="val.State_Code">
                                        {{val.State_Name}}
                                    </mat-option>

                                </mat-select> 
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- fifth row -->
                        <!-- district city -->
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Workplace District</mat-label>
                                <mat-select formControlName="WorkPlace_District_Id">
                                    <mat-option *ngFor="let val of districts" [value]="val.District_Code
                                    ">
                                        {{val.District_Name}}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>City</mat-label>

                                    <input matInput formControlName="City_Name">
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- workplace address description row -->
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Work Place Address</mat-label>
                                    <input matInput formControlName="WorkPlace_Address">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label> Work Description</mat-label>

                                    <textarea matInput formControlName="Description"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- period from period to -->

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Period From</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="Period_From">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Period To</mat-label>
                                    <input matInput [matDatepicker]="picker2" formControlName="Period_To">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <!--Currently working or not and salary -->
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Currently Working</mat-label>

                                    <mat-select formControlName="Is_Currently_working_YN">
                                        <mat-option value="y">Yes</mat-option>
                                        <mat-option value="n">No</mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" [style.width.%]="100">
                                    <mat-label>Salary</mat-label>

                                    <input matInput formControlName="Salary">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col" style="display:flex;justify-content: center;">
                                <button mat-mini-fab color="warn" class="delete-btn" (click)="deleteExperience(i)"
                                    matTooltip="Delete Experience" aria-label="Example icon button with a delete icon">
                                    <mat-icon>delete</mat-icon>
                                </button>


                            </div>
                            <div class="col" style="display:flex;justify-content: center;">
                                <button mat-mini-fab (click)="addExperience()"
                                    matTooltip="Add Experience and scroll down">

                                    <mat-icon class="add-course-btn">add</mat-icon>
                                </button>


                            </div>



                        </div>


                        <!-- <mat-icon class="delete-btn" (click)="deleteAcademics(i)"  matTooltip="Delete Experience">
                                        delete_forever</mat-icon> -->
                    </div>
                </ng-container>
            </ng-container>



        </div>

        <div class="row" style="margin-top: 30px; margin-bottom: 40px;">
            <div class="col">
                <button mat-raised-button type="submit" color="primary" [style.width.%]="100"
                    (click)="onSubmitExperience()">Submit</button>

            </div>
            <div class="col">
                <button mat-button mat-raised-button color="warn" [style.width.%]="100"
                    style="margin-left: 10px;">Cancle</button>

            </div>
        </div>

    </fieldset>


</div>



<!-- <div>
        <button mat-raised-button  matStepperPrevious mat-button color="warn">Back</button>
        <button mat-raised-button matStepperNext mat-button color="primary" style="margin-left: 10px;">Next</button>
      </div> -->


<!-- </form> -->