<!-- main heading -->
<div class="container-fullwidth main-heading">
        <h2>Student Registration Form</h2>
 </div>
 <!-- main heading end -->
 
 <!-- stepper code starts -->
 
 <div class="container body">
     <mat-stepper labelPosition="bottom" #stepper >
         <!-- first step starts -->
         <mat-step  [stepControl]="PersonalDataFormGroup" errorMessage="Name is required." >
           <form [formGroup]="PersonalDataFormGroup">
             <ng-template matStepLabel>Personal Details</ng-template>
             <!-- Personal Details -->
             <div class="heading">
                 <h3 style="margin-top: 20px;"> Students Personal Details</h3>
             </div>
             <hr>
             <div class="row">
                 <div class="col-md-6">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Enroll No</mat-label>
                         <input matInput formControlName="UE_ID" id="ue_id" name="ue_id">
                     </mat-form-field>
                 </div>
                 <div class="col-md-6">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Registraion Type</mat-label>
                         <mat-select formControlName="Registration_Type" (selectionChange)="onRegistraionTypeChange($event)">
                             <mat-option value="y">MIS</mat-option>
                             <mat-option value="n">Non MIS</mat-option>
                         </mat-select>
                     </mat-form-field>
                 </div>
             </div>
 
             
             <!-- first-middle-last name -->
             <div class="row">
 
                 <div class="col">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Salutaion</mat-label>
                         <mat-select formControlName="Salutation_E">
                             <mat-option *ngFor="let val of salutations_english" [value]="val.Salutation_Id">
                                 {{val.Value}}
                             </mat-option>
                         </mat-select>
                     </mat-form-field>
                 </div>
                 <div class="col">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Fist name</mat-label>
                         <input matInput formControlName="Student_First_Name_E">
                         <!-- <mat-hint align="start"><strong>हिन्दी में </strong> </mat-hint> -->
                     </mat-form-field>
                 </div>
                 <div class="col">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Middle Name</mat-label>
                         <input matInput formControlName="Student_Middle_Name_E">
                     </mat-form-field>
                 </div>
                 <div class="col">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Last Name</mat-label>
                         <span></span>
                         <input matInput formControlName ="Student_Last_Name_E">
                     </mat-form-field>
                 </div>
             </div>
 
             <!-- first-middle-last name  in hindi-->
             <div class="row">
 
                 <div class="col">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>अभिवादन</mat-label>
                         <mat-select formControlName="Salutation_H">
                             <mat-option *ngFor="let val of salutations_hindi" [value]="val.Salutation_Id">
                                 {{val.Value}}
                             </mat-option>
                         </mat-select>
                         <mat-hint align="start"><strong>हिन्दी में </strong> </mat-hint>
 
                     </mat-form-field>
                 </div>
                 <div class="col">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>प्रथम नाम</mat-label>
                         <input matInput formControlName="Student_First_Name_H">
                         <mat-hint align="start"><strong>हिन्दी में </strong> </mat-hint>
                     </mat-form-field>
                 </div>
                 <div class="col">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>मध्य नाम</mat-label>
                         <input matInput formControlName="Student_Middle_Name_H">
                         <mat-hint align="start"><strong>हिन्दी में </strong> </mat-hint>
 
                     </mat-form-field>
                 </div>
                 <div class="col">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>अंतिम नाम </mat-label>
                         <mat-hint align="start"><strong>हिन्दी में </strong> </mat-hint>
 
                         <span></span>
                         <input matInput formControlName="Student_Last_Name_H" >
                     </mat-form-field>
                 </div>
             </div>
 
             <!-- second row  dob gender-->
             <div class="row" style="margin-top: 10px;">
                 <div class="col">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Choose DoB</mat-label>
                         <input matInput [matDatepicker]="picker" formControlName="DOB">
                         <mat-hint>MM/DD/YYYY</mat-hint>
                         <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                         <mat-datepicker #picker></mat-datepicker>
                     </mat-form-field>
                 </div>
                 <div class="col">
                     <!-- gender -->
                     <!-- <div [style.width.%]="100"> -->
                         <label>Gender: </label>
                         <mat-radio-group formControlName="Gender_Id" [style.width.%]="100">
                             <mat-radio-button value="male">Male</mat-radio-button>
                             <mat-radio-button value="female">Female</mat-radio-button>
                             <mat-radio-button value="other">Other</mat-radio-button>
                         </mat-radio-group>
                     <!-- </div> -->
                 </div>
 
             </div>
             <!-- third row mobile and email -->
 
 
             <div class="row" style="margin-top: 10px;">
                 <!-- mobile -->
                 <div class="col">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Telephone</mat-label>
                         <span matPrefix>+91 &nbsp;</span>
                         <input type="tel" matInput formControlName="Mobile_No" id="Mobile_No" />
                         
                         <mat-icon matSuffix>mode_edit</mat-icon>
    
                     </mat-form-field>
                     <div *ngIf="mobileNumber?.invalid && (mobileNumber?.dirty || mobileNumber?.touched)" style="">
                        <div *ngIf="mobileNumber?.errors?.['required']" style="color: red;">Mobile number is required.</div>
                        <div *ngIf="mobileNumber?.errors?.['invalidMobileNumber']" style="color: red;">Invalid mobile number (should be 10 digits).</div>
                      </div>
                 </div>
                 <!-- email -->
                 <div class="col">
 
                     <mat-form-field class="example-full-width" [style.width.%]="100" appearance="outline">
                         <mat-label>Email</mat-label>
                         <input type="email" matInput formControlName="Email_Id" placeholder="Ex. pat@example.com">
                        
                     </mat-form-field>
 
 
                 </div>
 
             </div>
             <!-- fifth row father name mother name -->
             <div class="row">
                 <div class="col-md-6">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Father Name</mat-label>
                         <input matInput formControlName="Father_Name_E">
                     </mat-form-field>
                 </div>
                 <div class="col-md-6">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Mother Name</mat-label>
                         <input matInput formControlName="Mother_Name_E">
                     </mat-form-field>
                 </div>
             </div>
 
             <!-- fifth row father name mother name हिन्दी में  -->
             <div class="row">
                 <div class="col-md-6">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>पिता का नाम </mat-label>
                         <input matInput formControlName="Father_Name_H">
                         <mat-hint align="start"><strong>हिन्दी में </strong> </mat-hint>
 
                     </mat-form-field>
                 </div>
                 <div class="col-md-6">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>माता का नाम </mat-label>
                         <input matInput formControlName="Mother_Name_H">
                         <mat-hint align="start"><strong>हिन्दी में </strong> </mat-hint>
 
                     </mat-form-field>
                 </div>
             </div>
 
 
             <!-- sixth row spouse name guardian name -->
             <div class="row">
                 <div class="col-md-6">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Spouse Name</mat-label>
                         <input matInput formControlName="Spouse_Name_E">
                     </mat-form-field>
                 </div>
                 <div class="col-md-6">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Guardian Name</mat-label>
                         <input matInput formControlName="Guardian_Name_E">
                     </mat-form-field>
                 </div>
             </div>
 
             <div class="row" [style.width.%]="100">
                 <button mat-button matStepperNext mat-raised-button color="primary">Next</button>
             </div>
           </form>
         </mat-step>
         <!-- first step end -->
 
         <!-- second step start academic detail -->
         <mat-step  [stepControl]="AcademicFormGroup" errorMessage="Address is required.">
             <form [formGroup]="AcademicFormGroup" >
               <ng-template matStepLabel>Academic Detail</ng-template>
               <div class="heading">
                 <h3 style="margin-top: 20px;"> Students Academic Details</h3>
             </div>
             <hr>
               <div class="row">
                 <div class="col-md-4">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Admission Session</mat-label>
                         <mat-select formControlName="Admission_Session_id">
                             <mat-option *ngFor="let val of admissionsession" [value]="val.Admission_Session_id">
                                 {{val.Admission_Session_Name}}
                             </mat-option>
                         </mat-select>
                     </mat-form-field>
                 </div>
                 <div class="col-md-4">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Degree Completed?</mat-label>
                         <mat-select formControlName="Degree_Completed_YN">
                             <mat-option value="yes">Yes</mat-option>
                             <mat-option value="no">No</mat-option>
 
                         </mat-select>
                     </mat-form-field>
                 </div>
                 <div class="col-md-4">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Completed Session</mat-label>
                         <mat-select formControlName="Degree_Completed_Session_id">
                             <mat-option *ngFor="let val of admissionsession" [value]="val.Admission_Session_id">
                                 {{val.Admission_Session_Name}}
                             </mat-option>
 
                         </mat-select>
                     </mat-form-field>
                 </div>
               </div>
 
               
             <!-- degree Detail -->
 
             <!-- <div class="row">
                
                 <div class="col-md-6">
                     <mat-form-field appearance="outline" [style.width.%]="100">
                         <mat-label>Completed Session</mat-label>
                         <mat-select formControlName="Degree_Completed_Session_id">
                             <mat-option *ngFor="let val of admissionsession" [value]="val.Admission_Session_id">
                                 {{val.Admission_Session_Name}}
                             </mat-option>
 
                         </mat-select>
                     </mat-form-field>
                 </div>
             </div> -->
               <div>
                 <div class="row">
                     <div class="col">
                         <button mat-button matStepperPrevious mat-raised-button color="accent"
                             [style.width.%]="100">Back</button>
 
                     </div>
                     <div class="col">
                         <button mat-button matStepperNext mat-raised-button color="primary"
                             [style.width.%]="100">Next</button>
 
                     </div>
 
                 </div>
             </div>
             </form>
           </mat-step>
 
         <!-- second step end -->
         
         <mat-step [stepControl]="AddressFormGroup" errorMessage="Address is required.">
           <form [formGroup]="AddressFormGroup" >
             <ng-template matStepLabel>Address Detail</ng-template>
              <!-- Address row -->
        <div class="heading">
         <h3> Current Address Details</h3>
     </div>
 
     <hr>
 
     <!-- current address nationality and country -->
     <div class="row">
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>Nationality</mat-label>
                 <input matInput formControlName="Nationality">
             </mat-form-field>
         </div>
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>Country</mat-label>
                 <mat-select id="ccountry" formControlName="Current_Country_Id" (selectionChange)="onChangeCountry($event)" id="ccid">
                     <mat-option *ngFor="let val of country" [value]="val.Current_Country_Id" >
                         {{val.Name}}
                     </mat-option>
 
                 </mat-select>
             </mat-form-field>
         </div>
     </div>
 
     <!-- state and District details -->
     <div class="row">
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>State</mat-label>
                 <mat-select id="cstate" formControlName="Current_State_Id" (selectionChange)="onChangeState($event)">
                     <mat-option *ngFor="let val of states" [value]="val.State_Code">
                         {{val.State_Name}}
                     </mat-option>
 
                 </mat-select>
             </mat-form-field>
         </div>
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>District</mat-label>
                 <mat-select  id="cdistrict" formControlName="Current_District_Id" (selectionChange)="onChangeDistrict($event)">
                     <mat-option *ngFor="let val of districts" [value]="val.District_Code">
                         {{val.District_Name}}
                     </mat-option>
                 </mat-select>
             </mat-form-field>
         </div>
     </div>
 
     <!-- seventh row   current address , block -->
     <div class="row">
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>Current Block</mat-label>
                 <mat-select id="cblock" formControlName="Current_Block_Id">
                     <mat-option *ngFor="let val of blocks" [value]="val.Block_Code">
                         {{val.Block_Name}}
                     </mat-option>
                 </mat-select>
             </mat-form-field>
         </div>
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>Current City</mat-label>
                 <input id="ccity" matInput formControlName="Current_City">
             </mat-form-field>
         </div>
     </div>
     <!-- pin , address -->
 
     <div class="row">
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>Current Pincode</mat-label>
                 <input id="cpincode" matInput formControlName="Current_Pin_Code">
             </mat-form-field>
         </div>
         <div class="col-md-6">
             <mat-form-field class="example-full-width" appearance="outline" [style.width.%]="100">
                 <mat-label>Current Address</mat-label>
                 <textarea id="caddress" matInput formControlName="Current_Address1"></textarea>
             </mat-form-field>
         </div>
 
     </div>
 
 
     <!-- Permanent Address Details -->
 
     <!-- Address row -->
     <div class="heading">
         <h3> Permanent Address Details</h3>
     </div>
 
     <div style="margin-bottom:15px;">
         <!-- <mat-slide-toggle >Is Permanent Address same as Current</mat-slide-toggle> -->
         <mat-slide-toggle [checked]="useCurrentAddressAsPermanent" (change)="togglePermanentAddress()">Is Permanent Address same as Current</mat-slide-toggle>
         <!-- <label for="addressToggle">Same as Current Address:</label>
         <input type="checkbox" id="addressToggle"> -->
     </div>
 
     <!-- Permanent  country and state  -->
     <div class="row">
         
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>Country</mat-label>
                 <mat-select id="pcountry" formControlName="Permanent_Country_Id" (selectionChange)="onChangeCountry($event)">
                     <mat-option *ngFor="let val of country" [value]="val.Current_Country_Id">
                         {{val.Name}}
                     </mat-option>
 
                 </mat-select>
             </mat-form-field>
         </div>
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>State</mat-label>
                 <mat-select di="pstate" formControlName="Permanent_State_Id" (selectionChange)="onChangeState($event)">
                     <mat-option *ngFor="let val of states" [value]="val.State_Code">
                         {{val.State_Name}}
                     </mat-option>
 
                 </mat-select>
             </mat-form-field>
         </div>
     </div>
 
     <!-- district  and block details -->
     <div class="row">
         
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>District</mat-label>
                 <mat-select id="pdistrict" formControlName="Permanent_District_Id" (selectionChange)="onChangeDistrict($event)">
                     <mat-option *ngFor="let val of districts" [value]="val.District_Code">
                         {{val.District_Name}}
                     </mat-option>
                 </mat-select>
             </mat-form-field>
         </div>
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>Permanent Block</mat-label>
                 <mat-select id="pblock" formControlName="Permanent_Block_Id">
                     <mat-option *ngFor="let val of blocks" [value]="val.Block_Code">
                         {{val.Block_Name}}
                     </mat-option>
                 </mat-select>
             </mat-form-field>
         </div>
     </div>
 
     <!-- seventh row   Permanent Permanent ,Pincode -->
     <div class="row">
         
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>Permanent City</mat-label>
                 <input id="pcity" matInput formControlName="Permanent_City">
             </mat-form-field>
         </div>
         <div class="col-md-6">
             <mat-form-field appearance="outline" [style.width.%]="100">
                 <mat-label>Permanent Pincode</mat-label>
                 <input id="ppincode" matInput formControlName="Permanent_Pin_Code">
             </mat-form-field>
         </div>
     </div>
     <!-- , address -->
 
     <div class="row">
        
         <div class="col-md-6">
             <mat-form-field appearance="outline" class="example-full-width" [style.width.%]="100">
                 <mat-label>Permanent Address</mat-label>
                 <textarea id="paddress" matInput formControlName="Permanent_Address1" ></textarea>
             </mat-form-field>
         </div>
 
     </div>
             <div>
                 <div class="row">
                     <div class="col">
                         <button mat-button matStepperPrevious mat-raised-button color="accent"
                             [style.width.%]="100">Back</button>
 
                     </div>
                     <div class="col">
                         <button mat-button matStepperNext mat-raised-button color="primary"
                             [style.width.%]="100">Next</button>
 
                     </div>
 
                 </div>
               
             </div>
           </form>
         </mat-step>
 
 
         <!-- third step file upload-->
         <mat-step [stepControl]="FileUploadFormGroup"  errorMessage="FileUpload is required.">
             <div class="heading">
                 <h3> File Upload Details</h3>
             </div>
             <form [formGroup]="FileUploadFormGroup">
               <ng-template matStepLabel>FileUpload</ng-template>
              
               
         <!-- student photo -->
         <div class="row">
 
             <div class="col-md-6" style="margin-top: 5px; margin-bottom: 5px;">
                 <div>Upload your Photo</div>
                 <input type="file"  (change)="selectPhoto($event)" required  >
             </div>
             <div class="col-md-6" style="margin-top: 20px;">
                 <div></div>
                 <button mat-raised-button color="primary" type="button" (click)="uploadPhoto()">Upload</button>
             </div>
         </div>
         <hr>
         <!-- student signature -->
 
         <div class="row">
 
             <div class="col-md-6" style="margin-top: 5px; margin-bottom: 5px;">
                 <div>Upload your Signature</div>
                 <!-- <input type="file" formControlName="Student_Signature"> -->
                 <input  type="file" multiple #profile  (change)="selectSignature($event)">
             </div>
             <div class="col-md-6" style="margin-top: 20px;">
                 <div></div>
                 <button mat-raised-button color="primary" (click)="uploadSignature()">Upload</button>
             </div>
         </div>
 
         <hr>
         <!-- resume -->
         <div class="row">
 
             <div class="col-md-6" style="margin-top: 5px; margin-bottom: 5px;">
                 <div>Upload your Resume</div>
                 <input type="file"  (change)="selectResume($event)">
             </div>
             <div class="col-md-6" style="margin-top: 20px;">
                 <div></div>
                 <button mat-raised-button color="primary" (click)="uploadResume()">Upload</button>
             </div>
         </div>
        
 
               <div style="margin-top: 30px;">
                 <div class="row">
                     <div class="col">
                         <button mat-button matStepperPrevious mat-raised-button color="accent"
                             [style.width.%]="100">Back</button>
 
                     </div>
                     <div class="col">
                         <button mat-button matStepperNext mat-raised-button color="primary"
                             [style.width.%]="100">Next</button>
 
                     </div>
 
                 </div>
               
               </div>
             </form>
           </mat-step>
           
           <!-- fourth step -->
         <mat-step>
           <ng-template matStepLabel>Done</ng-template>
           <p>Are You Want To Submit Your Form ?</p>
            <!-- last row submit   -->
            <button mat-raised-button type="button" color="primary" [style.width.%]="20" (click)="openDialog()" style="margin-top: 10px;" >Preview</button>



            <div class="row" style="margin-top: 30px; margin-bottom: 40px;">
             <div class="col">
                 <button mat-raised-button type="submit" color="primary" [style.width.%]="100" (click)="onSubmit()" style="margin-top: 10px;" [disabled]="registered">Submit</button>
 
             </div>
             <div class="col" >
                 <!-- <button mat-raised-button type="submit" color="warn" [style.width.%]="100" style="margin-top: 10px;">Cancle</button> -->
                 <button mat-button mat-raised-button color="warn" (click)="stepper.reset()" style="margin-left: 10px;" [style.width.%]="100" style="margin-top: 10px;">Cancle</button>
 
             </div>
         </div>
        
 
           <div>
   
             <!-- <button mat-button matStepperPrevious mat-raised-button color="accent">Back</button>
             <button mat-button mat-raised-button color="warn" (click)="stepper.reset()" style="margin-left: 10px;">Reset</button> -->
           </div>
         </mat-step>
       </mat-stepper>
       
 </div>