<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav " fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="item"><img [src]="this.photo_url" [width]="size" [height]="size" class="hy-profile-image user-img" />
        <h2 style="text-align: center;">{{username}}</h2>
        <!-- <h3 style="text-align: center;">{{email}}</h3> -->
      </div>
    </mat-toolbar>
    <mat-nav-list style="margin-top: 100px;">

      <li class="nav-item  dash-button" style="margin-left:3px">
        <button class="dash-button" mat-button routerLink="JobNotification" [disabled]="!isregistered">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      </li>
      <li class="nav-item " style="margin-left:3px">
        <button class="dash-button" mat-button routerLink="completeregistration"
        matTooltip="One Time Registration" [disabled]="isregistered">
          <mat-icon>check</mat-icon>
          <span>Registration</span>
        </button>
      </li>

      <!-- <li class="nav-item " >
        <button mat-button routerLink="viewprofile" >
            <mat-icon>visibility</mat-icon>
            <span>Viewprofile</span>
        </button>
    </li> -->

      <li class="nav-item ">
        <mat-expansion-panel style="border-radius: 0%;  background-color:rgb(241, 225, 232);" class="mat-elevation-z0" [disabled]="!isregistered">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button class="dash-button" mat-button routerLink="viewprofile" style="margin-left: -11px;" [disabled]="!isregistered">
                <mat-icon>visibility</mat-icon>
                <span>Viewprofile</span>
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="viewprofile/personal" [disabled]="!isregistered">Personal Detail</a>
            <a mat-list-item routerLink="viewprofile/academic" [disabled]="!isregistered">Academic Detail</a>
            <a mat-list-item routerLink="viewprofile/other" [disabled]="!isregistered">Other Detail</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </li>


      <li class="nav-item ">
        <mat-expansion-panel style="border-radius: 0%;  background-color:rgb(241, 225, 232);" class="mat-elevation-z0" [disabled]="!isregistered">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button class="dash-button" mat-button style="margin-left: -11px;" [disabled]="!isregistered">
                <mat-icon>add_box</mat-icon>
                <span>Addprofile</span>
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a  mat-list-item routerLink="addprofile/academics" [disabled]="!isregistered">Academic Detail</a>
            <a mat-list-item routerLink="addprofile/skills" [disabled]="!isregistered">Skill Detail</a>
            <a mat-list-item routerLink="addprofile/experience" [disabled]="!isregistered">Experience Detail</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </li>


      <li class="nav-item ">
        <button class="dash-button" mat-button routerLink="appliedjob" [disabled]="!isregistered">
          <mat-icon>assignment_turned_in</mat-icon>
          <span>AppliedJob</span>
        </button>
      </li>

      <!-- <li class="nav-item">
    <button mat-button routerLink="JobNotification">
        <mat-icon>notifications_active</mat-icon>
        <span>Notifications</span>
    </button>
  </li> -->

      <li class="nav-item ">
        <button class="dash-button" mat-button (click)="logout()">
          <mat-icon>exit_to_app </mat-icon>
          <span>Logout</span>
        </button>
      </li>


      <!-- 
        <a mat-list-item routerLink="">Home</a>
        <a mat-list-item routerLink='viewprofile'>ViewProfile</a>    
        <a mat-list-item routerLink="/user/addprofile">AddProfile</a>
        <a mat-list-item routerLink="/user/appliedjob">AppliedJob</a>
        <a mat-list-item routerLink="/user/jobnotification">JobNotification</a>
        <a mat-list-item routerLink="">logout</a>
     -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="nav sticky-top" color="primary">
      <!-- <button class="dash-button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" style="margin-top: 9px;">
        <mat-icon aria-label="Side nav toggle icon">{{ drawer.opened ? 'menu_open' : 'menu' }}</mat-icon>
      </button>

      <span>Student Dashboard</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <div class="user-body"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->

  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <div class="container-fluid">
  <div class="footer">
    <span><strong>All Rigths Are Reserverd by &copy; IGKV 2023</strong></span>
  </div>
  <div class="logos">
    <span class="footer-logo"><a href="https://chhattisgarh.nic.in/"> <img src="../assets\images\niclogo.jpg" alt="NIC Logo"></a></span>

  </div>
</div> -->