.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
    background-color: rgb(241, 225, 232);
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.nav {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  
  .user-body{
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(181, 226, 240);
    height: 100vh;
  }
  
  button{
    margin-bottom: 10px;
    margin-left: 10px;
    // display: flexbox;
    // justify-content: center;
    font-size: medium;
  
  }
  
  //user profile photo css starts
  .user-img{
    border-radius: 50%;
    // width: 100%;
    // height: auto;
    margin-top: 100px;
    border: 4px outset gold;
  }
  
  .item {
    width: 120px;
    min-height: 120px;
    max-height: auto;
    float: left;
    margin-top: 10px;
    margin: 20px;
    padding: 3px;
  }
  
  //profiel photo css end
  
  // .footer{
  //  // border: 3px solid red;
  // z-index: 1;
  // text-align: center;
  // }
  // .footer-logo{
  // height: 100px;
  // width: auto;
  
  // }
  
  // .logos{
  //   display: flex;
  //   justify-content: end;
  // }
  // .logos img{
  // height: 50%;
  // width: auto;
  // }