<H1 mat-dialog-title style="text-align: center;">User Details Preview</H1>
<mat-card>
    <mat-dialog-content>
      <div class="student-profile py-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- <div class="card shadow-sm"> -->
                <!-- <mat-card> -->
                <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0"><mat-icon>account_box</mat-icon><b>Personal Information</b></h3>
                </div>
                <div class="card-body pt-0">
                  <table class="table table-bordered">
                    <tr>
                      <th width="20%">First Name</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Student_First_Name_E}}</td>

                      <th width="20%">Middle Name</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Student_Middle_Name_E}}</td>
                      
                      <th width="20%">Last Name</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Student_Last_Name_E}}</td>
                    </tr>
                    <tr>
                      <th width="30%">First Name in hindi</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Student_First_Name_H}}</td>
                  
                      <th width="30%">Middle Name in hindi 	</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Student_Middle_Name_H}}</td>
                    
                      <th width="30%">Last Name in hindi</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Student_Last_Name_H}}</td>
                    </tr>
                    <tr>
                      <th width="50%">Date Of Birth</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.DOB | date:'dd-MMMM-YYYY'}}</td>
                      
                      <!-- <th width="30%">Gender</th>
                      <td width="2%">:</td>
                      <td>{{data.s_gender_id}}</td> -->
                     
                      <th width="30%">Mobile No.</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Mobile_No}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Email</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Email_Id}}</td>
                     
                      <th width="300%">University Enrollment No.</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.UE_ID}}</td>
                  
                      <!-- <th width="30%">Registration Type</th>
                      <td width="2%">:</td>
                      <td>{{data.s_reg_type}}</td> -->
                
                    </tr>
                    <tr>
                      <th width="30%">Father Name</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Father_Name_E}}</td>
                     
                      <th width="300%">Mother Name</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Mother_Name_E}}</td>
                  
                      <th width="30%">Spouse/Father Name</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Spouse_Name_E}}</td>
                
                    </tr>

                    <tr>
                      <th width="30%">Father Name in hindi</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Father_Name_H}}</td>
                     
                      <th width="300%">Mother Name in hindi</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Mother_Name_H}}</td>
                  
                      <th width="30%">Guardian Name</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Guardian_Name_E}}</td>
                    </tr>
                  </table>
                </div>
              <!-- </mat-card> -->

                <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0"><mat-icon>add_location</mat-icon><b>Current Address Details</b></h3>
                </div>
                <div class="card-body pt-0">
                  <!-- <table class="table table-bordered">
                    <tr>
                      <th width="20%">Nationality</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Nationality}}</td>

                      <th width="20%">Country</th>
                      <td width="2%">:</td>
                      <td>{{data.Curr_Country}}</td>

                    </tr>
                    <tr>
                      <th width="20%">Current Address</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Current_Address1}}</td>

                      <th width="20%">Current Block</th>
                      <td width="2%">:</td>
                      <td>{{data.Curr_Block}}</td>
                      
                      <th width="20%">Pincode</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Current_Pin_Code}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Current City</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Current_City}}</td>
                  
                      <th width="30%">Current District</th>
                      <td width="2%">:</td>
                      <td>{{data.Curr_District}}</td>
                    
                      <th width="30%">Current State</th>
                      <td width="2%">:</td>
                      <td>{{data.Curr_State}}</td>
                    </tr>
                  </table> -->
                </div>

                <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0"><mat-icon>place</mat-icon><b>Permanent Address Details</b></h3>
                </div>

                <!-- <div class="card-body pt-0">
                  <table class="table table-bordered">
                    <tr>
                      <th width="20%">Country</th>
                      <td width="2%">:</td>
                      <td>{{data.Per_Country}}</td>
                    </tr>
                    <tr>
                      <th width="20%">Permanent Address</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Permanent_Address1}}</td>

                      <th width="20%">Permanent Block</th>
                      <td width="2%">:</td>
                      <td>{{data.Per_Block}}</td>
                      
                      <th width="20%">Pincode</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Permanent_Pin_Code}}</td>
                    </tr>
                    <tr>
                      <th width="30%">Permanent City</th>
                      <td width="2%">:</td>
                      <td>{{recieveddata.Permanent_City}}</td>
                  
                      <th width="30%">Permanent District</th>
                      <td width="2%">:</td>
                      <td>{{data.Per_District}}</td>
                    
                      <th width="30%">Permanent State</th>
                      <td width="2%">:</td>
                      <td>{{data.Per_State}}</td>
                    </tr>
                  
                  </table>
                </div> -->

  <!-- Photo and Signature  -->

                <div class="card-header bg-transparent border-0">
                  <h3 class="mb-0"><mat-icon>photo</mat-icon><b>Photo and Signature</b></h3>
                </div>

                <!-- <div class="row" style="border: 2px solid black;">
                <div class="card-header bg-transparent text-center col-md-6">
                  <p style="font-weight: 700;">Photo :</p>
                  <img class="profile_img" style="height: 300px;width: 230px; border-radius: 10px;" src={{this.profilePic}}>
                </div>
                <div class="card-header bg-transparent text-center col-md-6">
                  <p style="font-weight: 700;">Singnature :</p>
                  <img class="profile_img" style="height: 100px;width: 250px; border-radius: 10px;" src={{this.profileSign}}>
                </div>
              </div> -->

              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
</mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Done</button>
        <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
      </mat-dialog-actions>
</mat-card>

