
<owl-carousel-o [options]="customOptions" class="recruiter">
    <ng-template carouselSlide>
      <img src="../../../../../assets/images/recruiter1.avif" alt="...">
  
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../../../../../assets/images/recruiter2.jpg" alt="...">
  
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../../../../../assets/images/recruiter3.png" alt="...">
  
    </ng-template> 
    <ng-template carouselSlide>
      <img src="../../../../../assets/images/godrej-agrovet.jpg" alt="...">
  
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../../../../../assets/images/download.jpeg" alt="...">
  
    </ng-template>  
    <ng-template carouselSlide>
      <img src="../../../../../assets/images/download.jpeg" alt="...">
  
    </ng-template>  
  </owl-carousel-o>
  
  