


<nav class="navbar sticky-top  navbar-expand-md " >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/homepage"><img class="images" src="../assets\images\IGVT-LOGO.png" alt="logo" style="height: 13vh;"></a>
      <!-- <a class="navbar-brand" routerLink="/homepage"><span>DIGITAL REPOSISTORY</span> </a> -->
       
        <!-- <div style="display: contents;"> -->
          <button style="margin-right: 10px;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <div class="navigation"> -->
            <div  class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 50px;">
              <ul class="navbar-nav navigation ">
                <li class="nav-item" >
                  <a class="nav-link "  style="color: rgb(48, 162, 182); font-weight: bold;"  routerLink = "/" routerLinkActive="active">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: rgb(48, 162, 182); font-weight: bold;" routerLink = "/About_us"  routerLinkActive="active">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color:rgb(48, 162, 182); font-weight: bold;" routerLink = "/Contact_us"  routerLinkActive="active">CONTACT US</a>
                </li>
                <li class="nav-item">
                  <!-- <a class="nav-link" routerLink = "/Login">sign in</a> -->
                </li>
              </ul>
             
              <form class="d-flex login">
                
                <a routerLink="/login" class="signin nav-link"  aria-pressed="true" routerLinkActive="active" style="margin-left: 10px;">
                  <button>Login</button>
                 </a>

                 <a routerLink="/signup" class="signin nav-link"  aria-pressed="true" routerLinkActive="active" style="margin-left: 10px;">
                  <button>signup</button>
                 </a>
                
              </form> 
          </div>
          <!-- </div> -->
          

      </div>   
    <!-- </div> -->
  </nav>
 


