@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Kanit&family=Lato:wght@900&family=Mukta&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Chivo+Mono:wght@600&family=Kanit&family=Lato:wght@900&family=Mukta&family=MuseoModerno:wght@500;600&family=Roboto+Slab&family=Tomorrow:wght@800&display=swap");
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
//home page css
.home-header {
  background-color: rgb(145, 145, 219);
  text-shadow: 3px 3px 3px red;
  height: 10vh;
}
.container-fluid {
  padding: 0;
  margin: 0;

  overflow: hidden;
}
img {
  // height: 300px;
  // width: 100%;
  height: 100%;
}

.notification-container {
  display: flex;
  justify-content: center;
  padding: auto;
  margin-top: 100px;
}
//notice board css
.notice-board {
  margin: 5px;
  //  margin-right:  5px;
  //  margin-bottom:  5px;
  //  margin-bottom:  5px;
  min-height: 70vh;
  max-height: 70vh;
  height: 70vh;
  overflow: hidden;
  display: block;
  justify-content: center;
  background-color: rgb(201, 226, 230);
  // border-radius: 20px 20px 20px 20px;
  overflow-x: hidden;
}

.margin-5 {
  margin-bottom: -5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

//notice header
.notice-header {
  text-align: center;
  background-color: rgb(82, 160, 190);
  color: white;
  font-family: "Arvo", serif;
  font-family: "Kanit", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Roboto Slab", serif;
}

// helpline css
.helpline {
  margin: 5px;
  background-color: rgb(201, 226, 230);
  font-family: "Arvo", serif;
  font-family: "Kanit", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Roboto Slab", serif;
}

.social-media {
  width: 100%;
  color: #252525;
  text-align: left;
  font-size: 20px;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 25px;
  width: 25px;
  margin: 20px 10px;
  padding: 4px;
  color: #181717;
  transition: 0.5s;
}

.social-media i:hover {
  transform: scale(1.5);
}

//login css

//card css
// .example-card {
//   max-width: 400px;
//   margin-bottom: 8px;
// }
// mat-card{
//   height: 40vh;
// }
mat-card img {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 50%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 100%;
}
.content {
  overflow: auto;
  height: 400px;
}

//header css
.example-spacer {
  flex: 1 1 auto;
}

.carousel,
.carousel-inner {
  height: 75vh;
}

// .carousel img {
//  height: fit-content;
// }

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  height: 120vh;
  max-width: none;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.headercenter {
  align-items: center;
  text-align: center;
  font-family: "Arvo", serif;
  font-family: "Kanit", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Roboto Slab", serif;
  color: rgb(61, 209, 219);
  text-decoration: underline;
}

.headerReqruted {
  align-items: center;
  text-align: center;
  font-family: "Arvo", serif;
  font-family: "Chivo Mono", monospace;
  font-family: "Kanit", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "MuseoModerno", cursive;
  font-family: "Roboto Slab", serif;
  font-family: "Tomorrow", sans-serif;
  color: rgb(61, 209, 219);
  text-decoration: underline;
}

.card-reqruter {
  margin-top: 15px;
  margin-bottom: 15px;
}

// .custom-dialog {
//   width: 400px; /* Adjust the width as per your requirement */
//   height: 200px; /* Adjust the height as per your requirement */
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
