
<div class="container-fluid">
    <app-header> </app-header>
</div>
<div class="container-fluid" style="margin-top: 15vh;">
    <div class="row">
        <!-- <div class="col-md-2">
            <app-carousel></app-carousel>
        </div> -->
        <app-home-main-slider></app-home-main-slider>

    </div>

<!-- navigation code end -->


    <!-- <div class="row" style="background-color:rgb(119, 186, 218);margin-top: 20px;">
    
        
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://images.unsplash.com/photo-1562774053-701939374585?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=886&q=80"  alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../../../assets/images/download.jpeg" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/images/slider1.jpg"  alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
    </div> -->

    <div class="row notification-container">
        
       
        <div class="col-md-3 helpline">
            <div style="background-color: rgb(82, 160, 190);padding-left: 0%; width: 100%; margin-right: 10px;"> 
                <h4 style=" margin-top: 10px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:white; text-align: center;">Help Line</h4>
            </div>
            <hr>
            <div style="padding: 6%;">
               
              
               <div class="row">
               <p style="font-size: large;font-weight:500; color: rgb(26, 71, 88)">
              <span > <mat-icon style="padding-top: 4px;">phone_in_talk</mat-icon></span> HelpLine No: &nbsp;&nbsp; 0771-123456
                </p>
               </div>

               <div class="row">
                <p style="font-size: large;font-weight: 500;color: rgb(26, 71, 88) ">
               <span > <mat-icon style="padding-top: 4px;">email</mat-icon></span> Email: &nbsp;&nbsp;  <a href="mailto:domanchakradhari215@gmail.com" style="text-decoration: none;"style="color: rgb(26, 71, 88);">placementcell@gmail.com</a>
                 </p>
                </div>
                <div class="row " style="color: rgb(26, 71, 88)">
                   <p>Please call 8269801982
                    on holidays between 10:00 AM To 5:00 PM</p>
                 </div>
                 <div class="row">
                    <div><b style="color: rgb(26, 71, 88);">Follow Us On :</b></div>
                    <div class="social-media" style="color: rgb(26, 71, 88);">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square"></i></a>
                       
                      </div> 
                 </div>
            </div>
        </div>

        <div class="col-md-8 " *ngIf="job">
            <div class="margin-5" style="display: flex; justify-content: center; background-color: rgb(119, 186, 218);">
                <button mat-flat-button color="primary" style="margin: 0; width: 100%;" (click)="jobactive()">Job</button>
                <button  mat-flat-button color="accent" style="margin: 0; width: 100%;" (click)="roundactive()">Other</button>
            </div>
           
            <!-- <div> -->
                <div class="notice-board">
                    <div class="notice-header">
                        <h2>News & Notifications</h2>
                    </div>
                    <div class="notice-header">
                        <div class="row">
                            <div class="col-md-2">ID</div>
                            <div class="col-md-2">Date</div>
                            <div class="col-md-3">Title</div>
                            <div class="col-md-3">Description</div>
                            <div class="col-md-2">Remark</div>
                        </div>

                    </div>
                    <marquee behavior="" direction="up" onMouseOver="this.stop()" onMouseOut="this.start()"
                        [scrollAmount]="5">
                        <div class="row text-center" *ngFor="let item of notification_detail">
                            <div class="col-md-2">{{item.Notification_ID}}</div>
                            <div class="col-md-2">{{item.Notification_Date |date}}</div>
                            <div class="col-md-3"><a style="color: rgb(10, 48, 129);" (click)="opendialog(item.Vacancy_Id)" [class.cursor-pointer]="true">{{item.Notification_Title}} </a>
                            </div>

                            <div class="col-md-3">{{item.Notification_Description}}</div>
                            <div class="col-md-2">{{item.Remark}}</div>

                            <hr>
                        </div>
                    </marquee>
                </div>
            <!-- </div> -->
        </div>

        
        <div class="col-md-8 " *ngIf="round">
            <div class="margin-5" style="display: flex; justify-content: center; background-color:rgb(119, 186, 218) ; ">
                <button mat-flat-button color="primary" style="margin: 0; width: 100%;" (click)="jobactive()">Job</button>
                <button  mat-flat-button color="accent" style="margin: 0; width: 100%;" (click)="roundactive()">Other</button>
            </div>
            <div>
                <div class="notice-board">
                    <div class="notice-header">
                        <h2>Other Notifications</h2>
                    </div>
                    <div class="notice-header">
                        <div class="row">
                            <div class="col-md-2">ID</div>
                            <div class="col-md-2">Date</div>
                            <div class="col-md-3">Title</div>
                            <div class="col-md-3">Description</div>
                            <div class="col-md-2">Remark</div>
                        </div>

                    </div>
                    <!-- <marquee behavior="" direction="up" onMouseOver="this.stop()" onMouseOut="this.start()"
                        [scrollAmount]="5">
                        <div class="row text-center" *ngFor="let item of notification_detail">
                            <div class="col-md-2">{{item.Notification_ID}}</div>
                            <div class="col-md-2">{{item.Notification_Date |date}}</div>
                            <div class="col-md-3"><a style="color: rgb(10, 48, 129);" (click)="opendialog(item.Vacancy_Id)" [class.cursor-pointer]="true">{{item.Notification_Title}} </a>
                            </div>

                            <div class="col-md-3">{{item.Notification_Description}}</div>
                            <div class="col-md-2">{{item.Remark}}</div>

                            <hr>
                        </div>
                    </marquee> -->
                </div>
            </div>
        </div>



    </div>
        
    <div class="row" style="margin-top: 5%;">
                <span> <h2 class="headercenter" style="font-weight: 500; font-size: 46px; margin-bottom: 5%;"> <span style="color: black; margin-right: 5px;">TOP</span>RECRUITERS</h2></span><br>
                 <!-- <app-carousel></app-carousel> -->
                <app-recruiters-slider></app-recruiters-slider>
                
    </div><br>
    
    <div class="row" style="margin-top: 5%;">
        <span> <h2 class="headerReqruted" style="font-weight: 700; font-size: 46px;"> <span style="color: black; margin-right: 5px;">TOP</span>RECRUITED STUDENT</h2></span><br>

            <!-- <app-header2></app-header2> -->
        <app-recruited-student></app-recruited-student>
    </div><br>

    <div class="row">
        <app-footer></app-footer>
    </div>
</div>

    